<div class="container">
  <div class="registration-container">
    <h2 class="registration-head">アカウント情報の編集</h2>

    <div class="registration-form">
      <div class="single-content">
        <%= form_with(model: resource, scope: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "email-form edit-user") do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field form-group">
            <div class="edit-profile-image">
              <% if @user.profile_image? %>
                <%= image_tag @user.profile_image.url, class: "edit-profile-image__1" %>
              <% else %>
                <%= image_pack_tag @user.profile_image.url, class: "edit-profile-image__1" %>
              <% end %>
              <div class="edit-profile-image-contents">
                <div class="edit-profile-image-contents__inner">
                  <p>プロフィール画像の変更</p>
                  <%= f.file_field :profile_image, autocomplete: "profile_image" %>
                </div>
              </div>
            </div>
          </div>
          
          <div class="field form-group">
            <%= f.label :user_name, "ユーザー名" %><br>
            <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name",       placeholder: "例) 断捨離タロウ", class: "input-default" %>
          </div>
          
          <div class="field form-group">
            <%= f.label :email, "メールアドレス" %><br>
            <%= f.email_field :email, autocomplete: "email", placeholder: "PC・携帯どちらでも可",   class: "input-default" %>
          </div>
        
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        
          <div class="actions form-group">
            <%= f.submit "アカウント情報を更新する", class: "btn-default btn-gray" %>
          </div>
        <% end %>
  
        <div class="account-delete">
　　　　　　<p>ご満足いただけなかったでしょうか？</p>
          <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当にアカウントを削除してもよろしいでしょうか?" }, method: :delete, class: "btn-default btn-gray" %>
        </div>

        <%= link_to "戻る", :back, class: "link-login" %>
      </div>
    </div>
  </div>
</div>
