<div class="container">
  <div class="registration-container">
    <h2 class="registration-head">パスワードの変更</h2>

    <div class="registration-form">
      <div class="single-content">
        <%= form_with( model: resource, scope: resource_name, url: password_path(resource_name), method: :put ) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
        
          <div class="field form-group">
            <%= f.label :password, "新パスワード" %><br>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "6文字以上の半角英数字", class: "input-default" %>
          </div>
        
          <div class="field form-group">
            <%= f.label :password_confirmation, "新パスワード(確認用)" %><br>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-default" %>
          </div>
        
          <div class="actions form-group">
            <%= f.submit "パスワードを変更する", class: "btn-default btn-gray" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
