<%= paginator.render do %>
  <nav>
    <ul class="pagination">
      <div class="pagination-item">
        <% if !current_page.first? %>
          <%= first_page_tag %>
          <%= prev_page_tag %>
        <% else %>
          <div class="pagination-item-offset"></div>
        <% end %>
      </div>

      <div class="pagination-item">
        <% each_page do |page| %>
          <% if page.left_outer? || page.  right_outer? || page.inside_window? %>
            <%= page_tag page %>
          <% elsif !page.was_truncated? -%>
            <%= gap_tag %>
          <% end %>
        <% end %>
      </div>

      <div class="pagination-item">
        <% if !current_page.last? %>
          <%= next_page_tag %>
          <%= last_page_tag %>
        <% else %>
          <div class="pagination-item-offset"></div>
        <% end %>
      </div>
    </ul>
  </nav>
<% end %>
