<!DOCTYPE html>
<html>
  <head>
    <title>断捨離できるくん</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <hr>

    <%= render 'pages/flash' %>

    <main>
      <%= yield %>
    </main>
    <hr class="hr-footer">

    <footer>
      <div class="container">
        <p>&copy; 断捨離できるくん</p>
      </div>
    </footer>


      <script>
        'use strict';

        {
          const open = document.getElementById('open');
          const overlay = document.querySelector('.overlay');
          const close = document.getElementById('close');

          open.addEventListener('click', () => {
            overlay.classList.add('show');
            open.classList.add('hide');
            close.classList.remove('hide');
          })

          close.addEventListener('click', () => {
            overlay.classList.remove('show');
            open.classList.remove('hide');
            close.classList.add('hide');
          });

        }
      </script>

  </body>
</html>
