<!DOCTYPE html>
<html>
  <head>
    <title>断捨離できるくん</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <%= link_to image_pack_tag("logo.png", alt:"断捨離できるくん", id:"rogo-img"), root_url %>
          </div>
        </div>
      </div>
    </header>

    <hr>
    <%= yield %>
    <hr class="hr-footer">

    <footer>
      <div class="container">
        <p>&copy; 断捨離できるくん</p>
      </div>
    </footer>
  </body>
</html>
